.movie-detail {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
}
.movie-poster {
    height: 350px;
    background-color: #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
}

.movie-info h1 {
    margin-top: 0;
}

button {
    max-width: 20px auto;
    display: block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

button:hover {
     background-color: #000;
}