<main class="page">
  <section class="content">
    <section class="movie-list-wrapper">

        @if (status$ | async; as status) {

          @if (status === 'loading') {
            <p class="status">Загрузка...</p>
          }
          
          @else if (status === 'error') {
            <p class="status">Ошибка загрузки</p>
          }

          @else if (status === 'success') {

            @if (filteredMovies$ | async; as movies) {
              <input
                class="movie-search"
                type="text"
                placeholder="Поиск по названию"
                (input)="searchQueryChanged($event.target.value)"
              />

              @if (movies.length === 0) {
                <p class="status">Ничего не найдено</p>
              }

              <section class="movie-list">
                @for (movie of movies; track movie.id) {
                  <article
                    class="movie-card"
                    [routerLink]="['/movies', movie.id]"
                  >
                    <div class="movie-poster">Poster</div>

                    <section class="movie-info">
                      <h3>{{ movie.title }}</h3>
                      <p>Год: {{ movie.year }}</p>
                      <p>Рейтинг: {{ movie.rating }}</p>
                    </section>
                  </article>
                }
              </section>
            }
          }
        }
        </section>
      </section>
</main>